---
layout: page
title: Talks
permalink: /talks/
---

<div class="home talks">

  <p> Some of my recent talks/panels: </p>

  <ul class="post-list">
    {% for talk in site.data.talks.sessions %}
      <li>
        <h2>
          {% if talk.presentation.url %}
            <a class="post-link" href="{{ talk.presentation.url | prepend: site.baseurl }}" target='_blank'>{{ talk.presentation.title }}</a>
          {% else %}
            {{ talk.presentation.title }}
          {% endif %}
        </h2>
        <h4>Presented to <a class='' href="{{ talk.conference.url }}">{{talk.conference.title}}</a> on <span class="post-meta">{{ talk.presentation-date | date: "%b %-d, %Y" }}</span></h4>

        <p>
          {{ talk.presentation.brief-description }}
        </p>
        {% if talk.presenters %}
            <p class='presenters'>
                <strong>Presenters:</strong>
                {{ talk.presenters | join: ", " }}
            </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>