.post-content {
    .talks {
        h2, h2 > a {
            margin-bottom: 0px;
            font-size: 22px;
            line-height: 22px;

        }
        h4 {
            font-size: 16px;
            color: gray;
        }

        p.presenters {
            color: gray;
            font-size: 14px;
        }

        li {
            border-bottom: solid 1px #eee;
            padding-bottom: 12px;
        }
    }
}